.hero {
  width: 425px;
  max-width: 425px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/netnet-f3235.appspot.com/o/bg-image.svg?alt=media&token=ec03deb1-305a-470e-b090-ab6de1832471");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 549px;
  position: relative;

  &__top--gradient {
    width: 425px;
    height: 198px;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, #191919 0%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
  }
  &__bottom--gradient {
    width: 425px;
    height: 70px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, #191919 -99.29%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 101.98%);
    transform: rotate(-180deg);
  }
  &__header {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
  }
  &__header--logo img {
    width: 55px;
    margin-top: 16px;
    margin-left: 16px;
    z-index: 3;
  }
  &__header--links {
    width: 405px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;

    a {
      text-decoration: none;
      color: white;
      list-style: none;
      font-size: 1.175rem;
    }
  }

  &__description {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  &__description--logo {
    width: 312px;
    height: 64px;

    margin: 12px auto;
  }
  &__description--actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    .btn__play {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: none;
      align-items: center;
      padding: 4px 16px;
      position: static;
      width: 118px;
      height: 32px;
      left: 104px;
      top: 5.5px;
      background: #ffffff;
      border-radius: 2px;
      margin: 0px 56px;
    }

    .btn-desc 
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      background-color: transparent;
      border: none;
      color: white;
      position: static;
      width: 50px;
      height: 43px;
      left: 10px;
      top: 0px;
    }
  }
}
